cat > /etc/systemd/system/init-last-iptables.service << 'EOF'

[Unit]
Description=Initialize last_iptables_bytes for SSH users
After=fix-iptables.service network-online.target
Wants=fix-iptables.service network-online.target
ConditionPathExists=/etc/sshmanager/limits

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/bin/init_last_iptables_bytes.py

[Install]
WantedBy=multi-user.target

EOF

##########
systemctl daemon-reload
systemctl enable init-last-iptables.service
systemctl start init-last-iptables.service
