# /etc/systemd/system/log-user-traffic.timer
cat > /etc/systemd/system/log-user-traffic.timer << 'EOF'
[Unit]
Description=Run log-user-traffic every 30s

[Timer]
OnBootSec=20s
OnUnitActiveSec=30s
AccuracySec=1s
Unit=log-user-traffic.service
Persistent=true

[Install]
WantedBy=timers.target


EOF
######################################
systemctl daemon-reload
systemctl enable --now log-user-traffic.timer
systemctl start log-user-traffic.service
systemctl status log-user-traffic.service --no-pager -l



#ejraye dasti

/usr/local/bin/log_user_traffic.py

